<h1>Sign In</h1>
<%= form_for(@user, {url: sessions_path}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>First Name:</p>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <p>Last Name:</p>
    <%= f.text_field :last_name %>
  </div>  
  <div class="field">
    <p>Password:</p>
    <%= f.password_field :password %>
  </div>
    <%= f.submit 'Sign In', :class =>'link-text' %>
<% end %>
<br/>
<%= link_to 'Back', path_finder, :class =>'link-text back' %>