<h1>New Author</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p>Author Name:</p>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <p>Password:</p>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <p>Confirm Password:</p>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Author', :class =>'link-text' %>
  </div>
<% end %>
<br />
<%= link_to 'Back', path_finder, :class =>'link-text back' %>
