<!DOCTYPE html>
<html>
  <head>
    <title>StoryApp5</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='application'>
      <div class='user-status'>
        <% if current_user %>
          <%= current_user.email+'   ' %>
          <%= link_to 'Sign Out', sessions_path, method: :delete, :class =>'link-text' %>
        <% else %>
          <%= link_to 'Sign In', new_session_path, method: :get, :class =>'link-text' %>
          <%= link_to 'Sign Up', new_user_path, method: :get, :class =>'link-text' %>
        <% end %>
      </div>    
      <%= yield %>
    </div>
  </body>
</html>